<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>Omnichannel that takes you beyond your reach - KrowdBazaar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="shortcut icon" sizes="196x196" href="images/favicon-196x196.png"><link
rel="icon" sizes="16x16" type="image/png" href="images/favicon-16x16.png"><link
rel="icon" sizes="32x32" type="image/png" href="images/favicon-32x32.png"><link
rel="icon" sizes="96x96" type="image/png" href="images/favicon-96x96.png"><link
rel="apple-touch-icon" href="images/apple-touch-icon-120x120.png"><link
rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png"><link
rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon-180x180.png"><link
rel="apple-touch-icon" sizes="167x167" href="images/apple-touch-icon-167x167.png"><link
rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-152x152.png">
<meta name="msapplication-config" content="https://don16obqbay2c.cloudfront.net/browserconfig.xml">
<meta name="msapplication-TileColor" content="#0086CC">
<meta name="msapplication-TileImage" content="images/mstile-144x144.png">
<link rel='mask-icon' href='images/favicon.svg' color="#0086CC">
<meta
name="p:domain_verify" content="ee0bb8440ddf9e4809635ce506cfd720"/><link
href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,700&amp;subset=cyrillic,latin" rel="stylesheet" type="text/css" />
<%= stylesheet_link_tag "css/calypso_kbazaar_reseller" %>
<%= stylesheet_link_tag "css/kbazaar_style" %>
<%= javascript_include_tag "js/jquery.min" %>
<meta
name="twitter:card" content="summary_large_image"><meta
name="twitter:creator" content="@kbazaar"><meta
name="twitter:site" content="@kbazaar"><meta
name="twitter:title" content="Omnichannel that takes you beyond your reach and business domain - KrowdBazaar"><meta
name="twitter:description" content="KrowdBazaar enables and kickstart merchants to sell their products on all major sale-channels efficienctly. We help you to grow beyond your reach and beyond your business domain."><meta
name="twitter:image" content="images/kbazaar_barter_banner.jpg"><meta
name="description"  content="KrowdBazaar enables and kickstart merchants to sell their products on all major sale-channels efficienctly. We help you to grow beyond your reach and beyond your business domain." /><meta
property='og:title' content='Omnichannel that takes you beyond your reach - KrowdBazaar'/><meta
property='og:url' content='https://www.krowdbazaar.com/'/><meta
property='og:image' content='images/instagram-kbazaar.png'/><meta
property='og:image:secure_url' content='images/instagram-kbazaar.png'/><meta
property='og:image:width' content='1024'/><meta
property='og:image:height' content='1162'/><meta
property='og:image:type' content='png'/><meta
property='og:site_name' content='KrowdBazaar | E-Commerce Shopping Cart'/><meta
property='og:description' content='KrowdBazaar enables and kickstart merchants to sell their products on all major sale-channels efficienctly. We help you to grow beyond your reach and beyond your business domain.'/><meta
property='og:type' content='article'/><meta
property='og:locale' content='en_US'/><meta
property='fb:app_id' content='174151619353398'/><meta
property="fb:pages" content="204361966462" /><meta
class="swiftype" name="type" data-type="enum" content="website_page_en" /><meta
class="swiftype" name="priority" data-type="integer" content="10" /></head>

<body
id="p-22076" class=" product">

  <%= yield %>
    
  <%= javascript_include_tag "js/slider.min" %>

  <%= javascript_include_tag "js/ecwid_reseller" %>

  <script>$(window).triggerHandler('resize');</script>
    
          <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136349561-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136349561-1');
</script>

    <script>
  var div = document.createElement('div');
  div.className = 'fb-customerchat';
  div.setAttribute('page_id', '541363936033904');
  div.setAttribute('ref', 'b64:S0JhemFhcl9Ib21lUGFnZQ==');
  document.body.appendChild(div);
  window.fbMessengerPlugins = window.fbMessengerPlugins || {
    init: function () {
      FB.init({
        appId            : '1678638095724206',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v3.0'
      });
    }, callable: []
  };
  window.fbAsyncInit = window.fbAsyncInit || function () {
    window.fbMessengerPlugins.callable.forEach(function (item) { item(); });
    window.fbMessengerPlugins.init();
  };
  setTimeout(function () {
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  }, 0);
</script>
    
</body>



 </html>
